<div class="col-md-12 psevdo_header no_padding"></div>
<div class="col-12 col-sm-12 col-md-12 gap"></div>

<div class="col-9 col-sm-8 col-md-6 col-lg-5 mx-auto form-group">
    <label class="font-large">2. Оплата</label>
    <div id="form-container" class="row">
        <div id="liqpay" class="col-12" style="height: auto;"></div>
        <div id="liqpay-result" class="col-12">
            <div class="alert alert-success" id="done">
                Замовлення прийняте! Очікуйте доставку.
            </div>
            <button class="btn float-right" onclick="window.location.href = '/'"">На головну</button>
        </div>
    </div>
</div>


<div class="col-md-9 gap"></div>

<div class="col-md-12 footer border-bottom border-top">
    <p class="text-center">Проект PIZZA KMA - студентський проект НаУКМА.</p>
</div>        